@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Essa é uma lista de mercado com operações básicas de inclusão, edição e exclusão de itens.</p>
    <div class="image-container-principal">
        <img src="img/principal.jpg" class="img-fluid" alt="Imagem Principal">
    </div>
    
</div>
