@{
    ViewData["Title"] = "Privacidade";
}

<div class="form-text">
    <h4 class="display-8">Privacidade do Sistema</h4>
    <br>
    <p>
        Este sistema foi desenvolvido utilizando tecnologias, ASP.NET Core MVC, HTML, Bootstrap, CSS e JavaScript. 
        Como uma forma didática para praticar conceitos de Entity Framework, code-first e injeção de dependência.
    </p>
    <p>
        Níveis de Permissão:
        <br>
        <br>
         Usuário Padrão: O usuário padrão têm permissão para cadastrar, editar e excluir itens da sua própria lista de compras. 
         Além disso, ele possuem a capacidade de alterar sua senha individualmente por meio de um processo seguro. 
         O sistema utiliza o envio de e-mail para redefinição de senha, garantindo que apenas o próprio usuário possa 
         realizar essa alteração.
    </p>
    <p>
        Usuário Administrador: Além das funcionalidades disponíveis para o usuário padrão, 
        possui também permissão para gerenciar os dados de todos os usuários. 
        Isso inclui a possibilidade de visualizar, editar ou excluir informações relevantes para a administração do sistema. 
        Ressalto que o acesso a esses dados será estritamente controlado e protegido para evitar qualquer uso indevido.
    </p>   
</div>
